<?xml version="1.0" encoding="utf-8"?>
<!--
    Amar Bessedik
    Class CSC588
    Fall 2016
    Final project: Detect Faces and Emotions in Crowdsourced Pictures
    Description: This project aims for detecting faces and emotions in crowdsourced pictures. To achieve the goal,
    a user needs to provide a picture from their local smartphone directories or by taking a picture.
    Once a picture is provided, and after some local processing, the picture will be sent into
    Microsoft's Face API/Emotion API. If any faces are present, results of detected faces or detected emotions
    will be sent back to the client for display.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amar.facemotion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FACEmotion"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="FACEmotion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="FACEmotion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmotionActivity"
            android:configChanges="orientation|screenSize"
            android:label="FACEmotion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
